/* src/components/CircuitGrid/CircuitGrid.module.css */
.container {
  overflow: auto;
  background: var(--bg-base);
  height: 100%;
  display: flex;
  align-items: center;
}

.svg {
  display: block;
}

.dropZone:hover {
  stroke: var(--accent-blue) !important;
  stroke-opacity: 0.5;
}
