/* src/components/TensorNetworkGraph/TensorNetworkGraph.module.css */
.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--bg-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  display: block;
}
